docctyp html
title= `${title}`
html(lang="en")
    head 
        link(rel="stylesheet", href="css/style.css")
    body 
        .form-wrapper
            form(method="POST")
                label(for="cname") Coloss name 
                input(type="text" name="cname" required) 
                label(for="csize") Size 
                input(type="text" name="csize")
                label(for="ccolor") Color 
                input(type="text" name="ccolor")
                input(type="submit" value="Submit")
                </form>
                h2 <center><a href="http://localhost:3000/">Return to the homepage</a><center>




        